:root{
    --primaire:#FD2D01;
    --secondaire:#FFD7D7;
    --tertiaire:#4E5166;
}
*{
    box-sizing: border-box!important;
}
img{
    display: block;
    max-width: 100%;
}
body {
    
    font-family: "Lato", sans-serif !important;
    max-width: 768px !important;
    background-color: var(--secondaire)!important;

}
.navigation{
    display: flex!important;
    flex-wrap: wrap!important;
    background-color: var(--tertiaire);
    width: auto!important;
    border: solid 2px var(--primaire);
}
.header{
width: 100px!important;

}
.logo{
    width:100px!important;
    height:auto!important;
} 
h1{
    text-align: center!important;
}

.stylePost {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 0.5rem;
    margin-top: 3rem;
    
    margin-right: 26px!important;

}
.card {
    position: relative;
    margin: 30px auto;
    width: 300px;
    
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
   
    border-radius: 40px;
}

.card .card_image img {
    width: 100%!important;
    height:100%!important;
    border-radius: 20px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color:black;
}
.commentaires {
    color: black;
}
.id-post {
    position: absolute;
    top: 5px;
    left: 27px;
}

nav ul {
    list-style-type: none;
    margin: 1rem;
    padding: 1rem;
    overflow: hidden;
    display: flex;

    z-index: 1;
}
nav li {
    margin-right: 1rem;
    
}
nav a {
    text-decoration: none;
    color: var(--secondaire)!important;
}
.form-control{
    color: var(--secondaire)!important;
}


.boutons{
    display: flex!important;
    justify-content: space-between!important;
    
}
.form-connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: solid 1px var(--primaire);
    width: auto!important;
    padding: 20px;
    background-color: var(--secondaire);
    border-radius: 25%!important;
    margin-top: 100px;
}
.btn{
    background-color: var(--tertiaire)!important;
    color: var(--secondaire)!important;
}
.input-group {
    display: flex !important;
    justify-content: flex-end !important;
    border: solid 1px black !important;
    width: 150px !important;
}
.presentation{
display: flex;
justify-content: space-between;
align-items: stretch;
}
@media (max-width: 768px) {
    .presentation{
        flex-flow: column-reverse wrap-reverse;

    }
}


